:root{
    --yellow: linear-gradient(180deg, #f8d49a -146.42%, #FAD97D -46.42%);
    --orange: #fca61f;
    --black: #242d49;
    --gray: #788097;
    --purple: linear-gradient(180deg, #BB67FF 0%, #C384F3 100%);
    --pink: #b09697;
    --glass: rgba(255,255,255,0.54);
    --boxShadow: 0px 19px 60px rgb(0 0 0 /8%);
    --smboxShadow: -79px 51px 60px rgba(0,0,0,0.08);
    --activeItem: #F799A354;
  }
  
  .App{
    color:var(--black);
    background:#78adb0;
   background-image: url("https://i.ibb.co/hMrz3wX/Screenshot-2024-05-11-001721.png");
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter' ,sans-serif;
  }
  
  .AppGlass{
    display: grid;
    height:97%;
    width:97%;
    background: var(--glass);
    border-radius: 2rem;
    gap:16px;
    grid-template-columns: 11rem auto 20rem;
    overflow:hidden;
    gap:10px;
  }
  
  @media screen and (max-width:1200px) {
    .AppGlass{
      
      grid-template-columns: 10% 50% auto;
      overflow-y: scroll;
    }
    
  }
  
  @media screen and (max-width: 768px) {
    .AppGlass{
      grid-template-columns: 1fr;
    }
  }